<div class="container">
    <div class="row">
        <input type="text" class=" mb-4 mt-4 form-control col-3" placeholder="Имя" #inName>
        <input type="text" class="ml-2 mt-4 form-control col-3 mb-4" placeholder="Фамилия" #inSurname>
        <button type="button" class="btn btn-success col-2 ml-2 mt-4 mb-4 " (click)="onAdd(inName, inSurname)">Добавить</button>
    </div>
</div>